* {
    margin: 0;
}

body {
    background-color: darkslategray;
}

header {
    background-color:cadetblue;
    padding: 50px;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

nav ul {
    text-align: center;
    padding-bottom: 45px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

nav ul li a:hover {
    color: rgb(255, 0, 0);
}

main p {
    color: white;
    font-size: 20px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    max-width: 650px;
    margin-bottom: -45px;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    width: 100%;
    bottom: auto;
}

.footer-links {
    margin: 15px 0;
}

.footer-links a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: whitesmoke;
    text-shadow: 0 0 5px #00bcd4;
}

footer .copyright {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

img {
    width: 350px;
    height: 320px;
    border: black 5px solid;
    border-radius: 10px;
}

#style1 {
    position: absolute;
    top: 350px;
    right: 110px;
}

#style2 {
    position: absolute;
    top: 550px;
    right: 310px;
}

#style3 {
    position: absolute;
    top: 720px;
    right: 130px;
}