* {
    margin: 0;
}

body {
    background-color: darkslategray;
}

header {
    background-color:cadetblue;
    padding: 50px;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

nav ul {
    text-align: center;
    padding-bottom: 45px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

nav ul li a:hover {
    color: rgb(255, 0, 0);
}

#style1 {
    font-size: 50px;
    color: whitesmoke;
    margin: 25px;
    font-weight: bold;
}

#style2 {
    font-size: 20px;
    color: whitesmoke;
    margin: 25px;
    max-width: 700px;
    line-height: 1.5;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-links {
    margin: 15px 0;
}

.footer-links a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: whitesmoke;
    text-shadow: 0 0 5px #00bcd4;
}

footer .copyright {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

img {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 400px;
}